:root {
  --sidebar-bg-start: rgb(55, 0, 128);
  --sidebar-bg-end: rgba(0, 0, 0, 0.8);
}

body {
  background: linear-gradient(to left, var(--sidebar-bg-start), white);
  margin: 0;
  padding: 0;
  font-family: Aquire;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 0;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  transition: width 0.3s;
  overflow: hidden;
  backdrop-filter: blur(10px); /* Apply frosted glass filter to the sidebar */
  opacity: 0.3; /* Set opacity to 70% for 30% transparency */
}

.sidebar a {
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: 0.3s;
  margin: 10px;
  position: relative;
}

.sidebar a:hover {
  color: rgb(255, 0, 0);
}

hamburger-button {
  font-size: 30px;
  position: fixed;
  top: 10px;
  left: 10px;
  cursor: pointer;
  z-index: 1;
  color: rgb(0, 0, 0);
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0);
  border-radius: 10px;
  padding: 20px;
  margin-right: 0;
  position: relative;
  z-index: 1;
}

h1 {
  font-size: 36px;
  color: rgb(55, 0, 128);
}

p {
  font-size: 18px;
  color: #333;
}

.element {
  margin: 10px;
  padding: 10px;
  border: 2px solid rgb(55, 0, 128);
  border-radius: 5px;
  text-align: center;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background: linear-gradient(to left, var(--sidebar-bg-start), var(--sidebar-bg-end));
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 1;
  backdrop-filter: none; /* Reset backdrop filter when sidebar is closed */
  opacity: 1; /* Reset opacity when sidebar is closed */
}

.sidebar a {
  padding: 8px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  transition: 0.3s;
  transform: translateX(-100%);
}

.sidebar a.slide-in {
  transform: translateX(0);
}

sidebar a:hover {
  color: #ff0000;
}

hamburger-button {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  font-size: 20px;
}

container {
  margin-left: 0;
  padding: 20px;
  position: relative;
  transition: margin-left 0.5s;
}

container-shifted {
  margin-left: 250px;
}

image-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url("images/Twitch logo transparent.png");
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

banner {
  width: 100%;
  height: 100vh;
  background-image: url("images/wallpapersden.com_octane-apex-legends_2560x1440.jpg");
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  transform: translateZ(0);
}
